<html>

<head>
    <title>
        Quan ly ki tuc xa
    </title>
    <link rel='stylesheet' href='./css/pricing.css' />
</head>

<body>
    <div id="pricing">
        <h2 class="section-heading-pricing">PRICING</h2>
        <!-- table pricing -->
        <ul class="table-header">
            <li>
                $1.75/30 minutes
                <ul class="table-content">
                    <li>All rides are $1.75 for first 30 minutes</li>
                    <li>$1.75 per 30 minutes thereafter</li>
                    <button class="button-submit">Submit</button>
                </ul>
            </li>
            <li>
                24-Hour Access
                <ul class="table-content">
                    <li>$5 to Start</li>
                    <li>All rides 30 minutes or less are free</li>
                    <li>$1.75 per 30 minutes thereafter</li>
                    <button class="button-submit">Submit</button>
                </ul>
            </li>
    
            <li>
                30-Day Pass
                <ul class="table-content">
                    <li>$17 to Start</li>
                    <li>All rides 30 minutes or less are free</li>
                    <li>$1.75 per 30 minutes thereafter</li>
                    <button class="button-submit">Submit</button>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>